fastapi
uvicorn[standard]
mediapipe
opencv-python-headless
scikit-learn
numpy
pillow
cloudinary
groq
langchain
langchain-groq
gradio_client
python-multipart
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
python-dotenv
httpx
